
  <nav class="navbar transparent navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navheader page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><a class="navbar-brand inset-text" href="#">Manolis Kalafatis</a>
        <div class="collapse navbar-collapse" id="nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="page-scroll" href="#home">Home</a></li>
            <li><a class="page-scroll" href="#about">About</a></li>
            <li><a class="page-scroll" href="#portfolio">Portfolio</a></li>
            <li><a class="page-scroll" href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<main>
      <div class="jumbotron transparent">
          <div class="container">
            <div class="intro-title">
              <h1>Manolis Kalafatis</h1></div>
            <div class="intro-subtitle">
              <h2>Mathematician - Full stack web developer</h2></div>
            <div class="vmw-btn">
            <a href="#" class="btn btn-default btn-block">View my work</a>
            </div>
            <hr>
            <ul class="list-inline intro-networks">
              <li><a class="btn btn-default" href="https://twitter.com/mankal111" target='_blank'><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
              </li>
              <li>
                <a class="btn btn-default" href="https://github.com/mankal111" target='_blank'><i class="fa fa-github fa-fw"></i><span class="network-name">Github</span></a>
              </li>
              <li>
                <a class="btn btn-default" href="https://gr.linkedin.com/pub/manolis-kalafatis/5b/479/98a" target='_blank'><i class="fa fa-linkedin fa-fw"></i><span class="network-name">LinkedIn</span></a>
              </li>
              <li>
                <a class="btn btn-default" href="https://freecodecamp.com/mankal111" target='_blank'><i class="fa fa-fire fa-fw"></i><span class="network-name">freeCodeCamp</span></a>
              </li>
            </ul>
          </div>
        </div>
    </main>