
<main>
      <div class="jumbotron transparent">
          <div class="container">
            <div class="intro-title">
              <h1>Manolis Kalafatis</h1></div>
            <div class="intro-subtitle">
              <h2>Mathematician - Full stack web developer</h2></div>
            <div class="vmw-btn">
            <a href="/portfolio" class="btn btn-default btn-block">View my work</a>
            </div>
          </div>
        </div>
    </main>