<div class="portfolio-title"><h1>Portfolio</h1><h4>You can find more projects in my <a href="https://github.com/mankal111">github</a> page.</h4></div>
<div class="banner">
			<ul>
				<li style="background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.8)
    ),url('https://photos-4.dropbox.com/t/2/AAAdhjLrCqIazTqbc_6fZQc5vKBR3UhBlZCgTR2baKZqjg/12/6518477/png/32x32/1/_/1/2/box-screenshot.png/EI6H7gQYKiABKAE/tGnuRs5p0eoQqyfeV44jrl4OYJy1-43_W4xhc8RedCU?size=1280x960&size_mode=2');">        	
          <a class="btn" href="https://boxmanolis.herokuapp.com/"><h1>Box</h1><h3>PHP, MySql, HTML, CSS, Javascript, JQuery</h3></a>
          
				
				</li>
				
				<li style="background-image:linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.8)
    ), url('https://photos-5.dropbox.com/t/2/AAB_j7ByRLlZrNPe7G6pleJXMTo_cbRBZ8rKvxxIajWVqg/12/6518477/png/32x32/1/_/1/2/shrimp-screenshot.png/EI6H7gQYKiABKAE/cTq166Vgsf-7tRsf3WTmMct6CwpCz4PWtKpMGZ66c_w?size=1280x960&size_mode=2');">
          <a class="btn" href="https://boxmanolis.herokuapp.com/"><h1>Shrimp Party</h1><h3>actionscript3</h3></a>
				</li>
				
				<li style="background-image:linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.8)
    ), url('https://upload.wikimedia.org/wikipedia/commons/9/92/LaTeX_logo.svg');">
          <a class="btn" href="https://boxmanolis.herokuapp.com/"><h1>Searchtex</h1><h3>Python</h3></a>
				</li>
			</ul>
		</div>

<script>
			if(window.chrome) {
				$('.banner li').css('background-size', '100% 100%');
			}
			
			$('.banner').unslider({
				fluid: true,
				dots: true,
				speed: 500
			});
		
			//  Find any element starting with a # in the URL
			//  And listen to any click events it fires
			$('a[href^="#"]').click(function() {
				//  Find the target element
				var target = $($(this).attr('href'));
				
				//  And get its position
				var pos = target.offset(); // fallback to scrolling to top || {left: 0, top: 0};
				
				//  jQuery will return false if there's no element
				//  and your code will throw errors if it tries to do .offset().left;
				if(pos) {
					//  Scroll the page
					$('html, body').animate({
						scrollTop: pos.top,
						scrollLeft: pos.left
					}, 1000);
				}
				
				//  Don't let them visit the url, we'll scroll you there
				return false;
			});
			
			var GoSquared = {acct: 'GSN-396664-U'};
		</script>