<div class="container">
  <div class="page-title"><h1>About me</h1></div>
  <div class="about-img"></div>
  <div class="about-text"><p>&emsp;I was born in 1985, in Samos, a Greek island near Turkey and I am trying to be a mathematician, programmer and musician.
            <br> Being PhD student in mathematics, I mostly study algebraic topology and K-theory. But there are many other areas close to mathematics which I got involved with, like robotics, artificial intelligence, optical character recognition and of course programming.
            <br> Since I started programming in High school, I have programmed in many languages. Some of them are Pascal, C/C++, Java, Ruby, Python, ActionScript3, PHP and Javascript. Also some of the technologies I have used are LaTeX, MySql, HTML, CSS, Rails and JQuery.
            <br> I also enjoy to play, <a href="https://soundcloud.com/mankal111"  target="_blank">compose</a> and listen to music. I have played in several bands in Samos and I have composed many songs. I am playing piano, guitar, bass guitar, oud and ney.</p><div class="cv-btn"><a href="https://www.dropbox.com/s/8o6x22txru9et8v/cv-6-9-15.pdf?dl=0&s=sl" class="btn btn-block" >My CV</a></div></div>
</div>

