// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    }

body{
 	background-color:#D9D2CF;
  color:#495348;
}

.intro-title, .intro-subtitle {
	text-align: center;
}

.jumbotron .container{
	font-family: 'Berkshire Swash', cursive;
	position: relative;
	top: 30vh;
  }
  
.navbar-brand{
  font-family: 'Poiret One', cursive;
  font-size:30px;
}

h1{
  font-family: 'Poiret One', cursive;
  text-shadow: 1px 1px 2px #000000;
}

h2{
  font-family: 'Yanone Kaffeesatz', sans-serif; 
  text-shadow: 1px 1px 1px #000000;
}

.intro-networks{
  text-align:center;
}

hr {
  display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.btn {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  box-shadow: 1px 1px 2px #333333;
  background-color:#989FA2;
  border:0px;
}

.btn:hover{
  box-shadow: 2px 2px 5px #333333;
  background-color: #9da4A7;
}

li {
  padding: 5px;
}

.vmw-btn {
max-width:300px;
margin-left:auto;
margin-right:auto;
padding:20px
}

.vmw-btn .btn{
background-color:#0B1A16;
color:#D9D2CF;
font-size:20px;
}

.vmw-btn .btn:hover{
background-color:#1B2A26;
}